# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src-tauri/target/*
src-tauri/out/
src-tauri/screenshot/
out
bin
temp
screenshot
src/App2.svelte
src/lib/console.svelte
src/lib/Events.svelte
src/lib/Logs.svelte
src/lib/Screenshot.svelte
src/lib/Test.svelte
src/lib/Filelogging.svelte
