:root {
  font-family: 'M PLUS 1p', sans-serif;
  color: #000;
  background-color: #ddd;
  margin: 0 0;
}

body {
  user-select: none;
  overflow-x: hidden;

  --mdc-theme-primary: #00b19d;
  --mdc-theme-secondary: #4949c0;
}

p {
  text-align: left;
}

h1 {
  font-size: 140%;
  font-weight: bold;
  margin: 0 auto 5px 0;
  padding: 0;
}

h2 {
  font-size: 130%;
  font-weight: bold;
  margin: 0 auto 5px 0;
  padding: 0;
}

h3 {
  font-size: 110%;
  font-weight: bold;
  margin: 0 auto 5px 0;
  padding: 0;
}

h5 {
  font-size: 120% !important;
  font-weight: bold !important;
  margin: 20px auto 0 auto;
}

main {
  display: flex;
  flex-flow: column;
}

header {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  background: #fafafa;
  padding: 10px 5px 5px 5px;
  zoom: 85%;
}

header>div:first-of-type {
  display: flex;
  width: 210px;
}

header>div:first-of-type label {
  height: 36px;
}

header>div:first-of-type span.mdc-floating-label--float-above {
  top: 80% !important;
  font-size: small;
}

header>div>button:first-of-type {
  zoom: 90%;
  margin-right: -30px;
}

.ikussei_chart, .ikusei_log, .ikusei_subchart {
  background: #fafafa;
}

.ikusei {
  display: flex;
  margin-top: 5px;
}

.ikusei>div {
  flex-basis: 50%;
}

.ikusei_log {
  margin-right: 10px;
  zoom: 85%;
  width: 50%;
}

.logs {
  zoom: 89%;
}

.logs>div {
  height: 75vh;
  zoom: 90%;
  font-weight: bold;
}

.logs>div tr {
  height: 40px;
}

.logs>div tr span, .logs>div tr td {
  font-size: medium;
  color: #000;
  font-weight: bold;
}

.console {
  border: 1px solid #ddd;
  font-size: small;
  padding: 5px 10px;
  text-align: left;
  overflow-y: scroll;
  height: 60vh;
  word-wrap: break-word;
  user-select: text;
  scrollbar-color: #333;
}

.console ul {
  margin: 0;
  padding: 0;
}

.console li:before {
  content: "> ";
}

.console li {
  list-style: none;
}

.ikusei_subchart {
  padding-top: 10px;
}

.events {
  padding-left: 10px;
  overflow-y: auto;
  background: #fafafa;
}

.events>label {
/*  height: 36px;*/
  font-size: small;
}

.events>label span {
  font-size: small;
}

.events>label span.mdc-floating-label--float-above {
/*  top: 80% !important;*/
  font-size: small;
}

.events>label:first-of-type {
  width: 95%;
}

.events>label {
  width: 50%;
}

.events div {
  color: #000 !important;
  font-weight: bold !important;
}

.screenshot {
  margin-top: 10px;
  padding-top: 10px;
  background: #fafafa;
  zoom: 85%;
}

.screenshots {
  height: 400px;
  margin-top: 10px;
  overflow-y: auto;
}

.screenshots .mdc-image-list__item {
  width: 100px;
}

